pose/data
pose/Outputs
pose/checkpoints
pretrain/data
pretrain/Outputs
pretrain/checkpoints
seg/data
seg/Outputs
seg/checkpoints
__pycache__/
*.pyc
*.ipynb_checkpoints
*.so
*.DS_Store
*._*
*.egg
*.pth
*.pt2
*.pt
example_data1/
example_data2/
example_data3/